.retractableInput {
  position: relative;

  :global {
    .ant-input {
      border-color: #E7E7F0;
      
      &:focus,
      &:hover {
        border-color: var(--primary-color) !important;
        box-shadow: none !important;
      }
    }
  }
}